.chat-container{
    height: 100vh;
}

.chat-container .conversation-title{
    color: #000;
    background: #fff;
    height: 64px;
    text-align: center;
    line-height: 64px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 24px;
    border-bottom: 1px solid #dbdbdb;
}

.chat-container .conversation-detail{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-container .list-message{
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#send-message-form{
    padding: 22px 15px;
    position: relative;
    border-top: 1px solid #dbdbdb;
}

#send-message-form input{
    border: none;
    width: 100%;
    outline: 0px;
}

#send-message-form button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.chat-container .main{
    display: flex;
    height: calc(100vh - 64px);
}

.chat-container .conversation-detail{
    height: 100%;
    width: 85%;
}

.list-message .message .message-content{
    background: #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    max-width: 45%;
    width: max-content;
}

.list-message .message.message-mine{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.list-message .message.message-mine .message-content{
    color: #fff;
    background-color: #837BFE;
    word-break: break-all;
}

.list-messages{
    padding: 10px;
}

.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}

.chat-container .aside-left .create-conversation{
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}

.chat-container .aside-left .conversation{
    padding: 10px;
    cursor: pointer;
}

.chat-container .conversation.current{
    background-color: #dbdbdb;
}