.chat-container{
    height: 100vh;
}

.chat-container .header{
    color: #fff;
    background: #037BFE;
    height: 64px;
    /* text-align: center;
    line-height: 64px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.chat-container .conversation-title{
    color: #000;
    background: #fff;
    height: 64px;
    text-align: center;
    line-height: 64px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 24px;
    border-bottom: 1px solid #dbdbdb;
}

.chat-container .conversation-detail{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-container .list-message{
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#send-message-form{
    padding: 22px 15px;
    position: relative;
    border-top: 1px solid #dbdbdb;
}

#send-message-form input{
    border: none;
    width: 100%;
    outline: 0px;
}

#send-message-form button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.chat-container .main{
    height: calc(100vh - 64px);
}

.list-message .message .message-content{
    background: #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    max-width: 45%;
    width: max-content;
}

.list-message .message.message-mine{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.list-message .message.message-mine .message-content{
    color: #fff;
    background-color: #837BFE;
}